.container {
  color:rgb(24, 24, 227);
  background-color: rgb(160, 202, 180);
  font-family: 'Arial', sans-serif;
  height:400px;
  width:400px;
  margin-left: 30px;
  padding:30px;
  align-items: center;
  border-radius: 10%;
  border-color: aqua;
  border-left: 0cm;
}

.title {
  color: #333;
}

.number {
  color: blue;
}

.boolean {
  color: green;
}

.array {
  color: purple;
}

.array1 {
  color: rgb(255, 0, 60);
}

.personInfo {
  color: rgb(145, 33, 220);
}
