.container {
  color:blue;
  background-color: rgb(219, 163, 163);
  font-family: 'Arial', sans-serif;
  height:300px;
  width:400px;
  margin-left: 30px;
  padding:30px;
  align-items: center;
  border-radius: 10%;
  border-color: aqua;
  border-left: 0cm;
  
}